<h2>Distancias</h2>

<div *ngFor="let distance of distances">
  <div>
    <h2>
        {{ distance.origin }}
    </h2>

    <h2>
      {{ distance.destination }}
    </h2>
    <h2>
      {{ distance.distance }}
    </h2>

  </div>

</div>
<button type="button" (click)="share()">
    Siguiente Página
</button>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->