<h2>Distancias</h2>

<table>
  <th>origen</th>
  <th>destino</th>
  <th>distancia</th>
  <tr *ngFor="let distance of distances">
    <td>{{ distance.origin }}</td>
    <td>{{ distance.destination }}</td>
    <td>{{ distance.distance }}</td>
  </tr>
</table>

<button type="button" (click)="getPreviousPage()">
  Anterior
</button>
<button type="button" (click)="getNextPage()">
    Siguiente Página
</button>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->